.orange{
    background-color: rgba(223, 111, 37, 0.733) !important;
}
.red{
    background-color: rgba(223, 37, 37, 0.733) !important;
}

.table{
    width: 90%;
}

.labeltag{
    width: fit-content;
    background-color: #7373c0b0;
    color: white;
    padding: 2px;
    border-radius: 5px;
    margin:1px
}