.filter{
    text-align: center;
}
li{
    display: inline;
    margin: 5px;
}
li>*{
    display: inline;
    margin: 4px;
}
.btn{
    width: fit-content;
    background-color: #c0c0c7b9;
    color: white;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
.offline{
    text-align: -webkit-center;
}